.lead__image {
  margin: 0;
  max-width: 100%;
  height: 615px;
}

@media screen and (max-width: 768px){
  .lead__image {
    max-height: 480px;
  }
}

@media screen and (max-width: 425px){
  .lead__image {
    max-width: 425px;
    max-height: 280px;
  }
}

@media screen and (max-width: 375px){
  .lead__image {
    max-width: 375px;
    max-height: 240px;
  }
}

@media screen and (max-width: 320px){
  .lead__image {
    max-width: 320px;
    max-height: 200px;
  }
}