.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(5, max-content) 1fr;
  grid-template-rows: 1fr;
}

@media screen and (max-width: 642px){
.footer__list {
  display: flex;
  flex-direction: column;
}
}