.footer {
  margin: 92px 48px 0;
  padding-bottom: 24px;
  display: flex;
  position: relative;
}

@media screen and (max-width: 768px){
  .footer {
    margin: 92px 24px 0;
  }
}

@media screen and (max-width: 320px){
  .footer {
    flex-direction: column;
    margin-top: 64px;
  }
}